<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="px-5 py-2">Why Learn Excel?</h1>
        <h5 class="px-5 py-2">By Leila Gharani</h5>
      </header>
      <main>
        <h1
            style="
                padding: 20px 40px 5px 40px;
                background-color: #4a7c59;
                margin-top: 0;
                margin-bottom: 0;
                color: #F5F5DC;
        ">
            Why Learn Excel?
        </h1>
        <h5
        style="
                padding: 0px 40px 20px 40px;
                background-color: #4a7c59;
                margin-top: 0;
                margin-bottom: 0;
                color: #F5F5DC;
        ">
            By Technology for Teachers and Students
        </h5>
      </main>
</body>
</html>